issMap {
        height: 180px;
      }

      /* Sets the containers height and width */
      body {
        
        font-family: sans-serif;
        /*display: grid;*/
        height: 100vh;
        /*place-items: center;*/
      }
      .content {
  max-width: 500px;
  margin: auto;
  background: blue;
  padding: 10px;
}

      .base-timer {
        position: relative;
        width: 150px;
        height: 150px;
      }

      .base-timer__svg {
        transform: scaleX(-1);
      }

      .base-timer__circle {
        fill: none;
        stroke: none;
      }

      .base-timer__path-elapsed {
        stroke-width: 7px;
        stroke: grey;
      }

      .base-timer__path-remaining {
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;
      }

      .base-timer__path-remaining.green {
        color: rgb(65, 184, 131);
      }

      .base-timer__path-remaining.orange {
        color: orange;
      }

      .base-timer__path-remaining.red {
        color: red;
      }

      .base-timer__label {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
      }


#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
}

.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  cursor: pointer;
  float: center;
}
.btn-group-wrapper {
    text-align: center;
}

/* .btn-group .button:not(:last-child) {
  border-right: none; Prevent double borders
} */

.btn-group .button:hover {
  background-color: #3e8e41;
}


.column {
  float: left;
  width: 40%%;
  padding: 20px;
}

.row {
  text-align: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
